html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(#a0ffa0, #809080); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a0ffa0, #809080); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a0ffa0, #809080); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a0f0a0, #90f090); /* Standard syntax */
}

div {
  border-radius: .4em;
  margin: 0 auto;
}

input {
  border-radius: 1em;
}

.main {
  background-color: white;
  width: 80%;
  margin-top: 5em;
  border: 3px solid #303030;
}

.roll-form {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: block;
  text-align: center;
}

.roll-form-input {
  margin: 0 auto;
  margin-top: 1em;
  display: inline;
  width: 99%;
  text-align: center;
}

.output {
  text-align: center;
  font-weight: bold;
  color: #083B73;
}

.older-1 {
  font-weight: lighter;
  color: #085B93;
}

.older-2, .older-3 {
  font-weight: lighter;
  color: #088BC3;
}