<div class="index">
  <div class="title">Roll!</div>
  <form class="roll-form">
    <input class="roll-form-input" type="text" name="roll_expr">
  </form>
  <div class="output">
    <p class="current">Output1</p>
  </div>
</div>