<div class="main">
  <form class="roll-form" onsubmit="event.preventDefault(); do_roll();">
    <input class="roll-form-input" type="text" name="roll_expr" /><input class="roll-it" type="submit" value="Roll" />
  </form>
  <div class="output">
    <h3>Output</h3>
    <p class="current">&nbsp;</p>
    <p class="older-1"></p>
    <p class="older-2"></p>
    <p class="older-3"></p>
  </div>
</div>